*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, Raleway;
}

a, li {
  list-style: none;
  text-decoration: none;
}

.primary-btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  color: #191C26;
}

.primary-btn .light {
  color: #191C26;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  margin-left: 30px;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .menu__btn {
  width: 40px;
  height: 40px;
}
.header .menu__svg {
  background-color: black;
}
@media (max-width: 767px) {
  .header .menu__list {
    display: none;
  }
}
.header .contact {
  color: #9DA4BD;
}

.hero {
  background-image: url(/img/Slider.jpg);
  color: #ffffff;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #F7F7F7;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #191C26;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #191C26;
  text-decoration: none;
}

.about {
  padding: 84px 31px;
  outline: 3px solid red;
}

.price {
  outline: 3px solid brown;
  padding: 84px 0;
  background-image: url(/img/img.jpg);
  color: #ffffff;
}
.statistic {
  padding: 84px 31px;
}

.number-box {
  background-color: #F7F7F7;
  width: 193px;
  text-align: center;
}

.number-box p {
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
}

.number-box span {
  display: block;
  padding-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.master {
  background-color: #F7F7F7;
  outline: 3px solid green;
  text-align: center;
}
.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.container-example {
  padding: 84px 0;
}

.pre-title {
  padding-bottom: 44px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.online-form {
  background-color: #191C26;
  color: #ffffff;
  outline: 3px solid red;
}/*# sourceMappingURL=main.css.map */