.header {
    background-image: url(/img/Slider.jpg);
     outline: 3px solid rgb(238, 14, 119);
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
  }

.container {
 outline: 3px solid rgb(13, 221, 65);
}

.logo {
    margin-left: 30px;
}


.menun {
        display: flex;

    @media screen and (max-width:768px) {
        width: 100%;
        justify-content:space-between;
    }
        align-items: center;

    outline: 3px solid red;


&__list {
        display: none;

    @media screen and (min-width:768px) {
        display: flex;
    }
}

&__btn {
    // margin-left: 300px;
    width: 40px;
    height: 40px;
    
}

&__svg {
    background-color: black;
}

&__item {

}
&__link {
    color: $text-white;
    @media (min-width: 767px) {
    margin-right: 25px;
    }
}
}

@media (max-width: 767px) {
    .menu__list {
        display: none;
    }
}

.contacts {

    @media screen and (max-width: 767px) {
            display: none;
    }    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

    }
}

.contact {
    color: $footer-text;
}

}
