.header {
    // background-image: url(/img/Slider.jpg);
    
    &__wrapper {
        // display: flex;
        // flex-wrap: wrap;
        // // position: absolute;
        
  }

.container {

}

.logo {

    margin-left: 30px;
}


.menu {
    display: flex;
    justify-content:space-between;
    align-items: center;

    // @media screen and (min-width:768px) {
    //     justify-content: space-between;
    // }


&__list {

    // @media screen and (min-width:768px) {
    //     display: flex;
          
    // }
}

&__btn {
    // margin-left: 300px;
    width: 40px;
    height: 40px;
    
}

&__svg {
    background-color: black;
}

&__item {}
}

.contacts {}

.contact {
    color: $footer-text;
}

}
