.primary-btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid $second-color;
    color: $footer-bg;
}

.primary-btn .light {
    color: $footer-bg;
    
}