 .statistic {
    padding: 84px 31px;
    // justify-content: space-between;
    
     @media screen and (min-width:768px) {
         display: flex;
         justify-content: space-between;
         width: 100%;
     }
}
.section-why {

     @media screen and (min-width:768px) {
      width: 48%;
     }
}

// .title {

// }

.container-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
     @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 48%;
        padding: 0 100px;
     }
}

.number-box {
    background-color: $statistic-bg;
    width: 170px;
    // width: 48%;
    text-align: center;
    margin-top: 30px;
}
.number-box p {
    margin: 0;
    // padding-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.05em;
}
.number-box span {
    display: block;
    // padding-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}