 .statistic {
    padding: 84px 31px;
}
.section-why {}

.title {}

.container-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
}

.number-box {
    background-color: $statistic-bg;
    min-width: 193px;
width: 48%;
    text-align: center;
}
.number-box p {
    padding-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.05em;
}
.number-box span {
    display: block;
    padding-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}